<header class="home-header">
  <a href="/"><div class="logo"></div></a>
  <div class="home-title-container">
    <h1>Welcome to Andrew Konoff's Cool Website</h1>
  </div>
  <nav class="buttons">
    <a class="button nav" href="/">Home</a>
    <a class="button nav" href="/about">About</a>
    <a class="button nav" href="/art">Art</a>
    <a class="button nav" href="/writing">Writing</a>
    <a class="button nav" href="https://soundcloud.com/young-keanu" target="_blank">Music</a>
  </nav>
</header>
