<header class="home-header-wrapper" id="hw">

  <div class="home-header">
    <div class="navbar">
      <div class="navbar-item"><a class="header-link" href="">Home</a></div>
      <div class="navbar-item"><a class="header-link" href="">About</a></div>
      <div class="navbar-item"><a class="header-link" href="">Art</a></div>
      <div class="navbar-item"><a class="header-link" href="">Writing</a></div>
      <div class="navbar-item"><a class="header-link" href="">Music</a></div>
    </div>
    <h1>Hi my name is Andrew</h1>
  </div>
  <div class="top"></div>
</header>
