<header class="home-header">
  <a href="/"><div class="logo"></div></a>
  <div class="navbar">
    <a class="navbar-item header-link" href="/">Home</a>
    <a class="navbar-item header-link" href="/about">About</a>
    <a class="navbar-item header-link" href="/art">Art</a>
    <a class="navbar-item header-link" href="/writing">Writing</a>
    <a class="navbar-item header-link" href="https://soundcloud.com/young-keanu" target="_blank">Music</a>
  </div>
  <h1>Welcome to Andrew Konoff's Cool Website</h1>
</header>
