<footer class="post-footer">

  <div class="about">
    <div class="author-pic"><img src="{{ '/assets/images/the_author.png' | relative_url }}"></div>
    <h1>about &k</h1>
    <p>I'm exploring apps as a creative form by making lots of weird things. A philosopher by training and a marketer by trade, I live in Vancouver, BC.</p>
  </div>
</footer>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us7.list-manage.com","uuid":"dd211ea5b1d1893a11dcb99aa","lid":"1bede8acb8"}) })</script>

<footer class="post-footer-buttons">
  <nav class="buttons">
    <a class="button" href="{{ site.baseurl }}/">
      <em>Back to</em>
      <strong>🍑 the blog</strong>
    </a>
    <a class="button subscribe" href="http://eepurl.com/dgrCBv" target="_blank">
      <em>Subscribe to</em>
      <strong>💌 email updates</strong>
    </a>
  </nav>
</footer>

