<footer class="post-footer">

  <div class="about">
    <div class="author-pic"><img src="{{ '/assets/images/the_author.jpeg' | relative_url }}"></div>
    <h1>about_andrew</h1>
    <p>Métis-Ukrainian artist, working as a filmmaker, musician, and app-maker. Born in Regina/treaty 4, living in Toronto.</p>
  </div>
</footer>
<footer class="subscribe-form">
  <h1>Subscribe:</h1>
  {% include mailchimp_footer.html %}
</footer>
<footer class="post-footer-buttons">
  <nav class="buttons">
    <a class="button" href="{{ site.baseurl }}/">
      <em>Back to</em>
      <strong>🍑 the blog</strong>
    </a>
  </nav>
</footer>
