---
---
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Fira+Mono:400|Noto+Sans:700');

// Colours
$grey: #979797;
$purp: #9012fe;
$sunset-purp: rgba(144, 18, 254, 0.30980392156862746);
$peachy-red: #e81c4f;
$british-racing-green: #3F9A5A;

$peachy-orange: #ffab68;

$peachy-1: #FE987B;
$peachy-2: #FDA679;
$peachy-3: $british-racing-green; //#FEB57A;
$peachy-4: #000000;
$peachy-4-color: white;
$peachy-5: #0300c7;
$peachy-5-color: white;

// Fonts
$monospace: "Menlo", "Fira Mono", monospace;
$sansserif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
a strong {
  color: inherit;
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid #d8dee9;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  text-align: center;
}

blockquote {
  margin: 0 0;
  font-style: italic;
  font-weight: 300;

  p {
    border-left: 2px solid #CDCDCD;
    padding-left: 1em;
    padding-right: 2em;
  }

  h1 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24;
    color: #737373;
    &:before {
      content: ">>> ";
      font-style: normal;
      font-size: 36px;
      font-family: "Menlo", "Fira Mono", monospace;
      color: #F7B077;
      letter-spacing: -3.06px;
    }
  }
}

/* 02 Font family */

body {
  font-family: $sansserif;
  font-weight: 400;
  line-height: 1.5;
  padding: 4em 1em;
  color: #646464;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 0.25em;
  padding-top: 0.75em;
}

h1,
h2 {
  color: #ff8f13;
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

/* 05 Balance */

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

/* 06 Primary color */

a {
  color: #da411c;
}

/* 07 Secondary colors */

body {
  background: $peachy-orange;
  color: #566b78;
}

code,
pre {
  background: #ffdbbe;
  /*border-bottom: 1px solid #b103b1;*/
  color: #5f5f5f;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial;
}

pre {
  border-left: 2px solid #ffa500;
}

.selector {
  color: #940911;
}

.keyword {
  color: #ab7967;
}

.unit {
  color: #5f5f5f;
}

.attribute {
  color: #ff5600;
}

.number {
  color: #c35903;
}

.string {
  color: #b103b1;
}

/* 08 Cuatom font */

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 500;
}

/* 09 Images */

body {
  margin: 0;
  padding: 0;
}



/* Header stuff */

header {
  h1 {
   font-family: "Menlo", "Fira Mono", monospace;
   color: white;
   font-size: 2.5em;
   font-weight: 300;
  }
}

.logo {
 float: left;
 position: fixed;
 vertical-align: top;
 height: 90px;
 width: 90px;
 top: 10px;
 left: 10px;
 background-image: url("images/post_header_logo.png");
 background-position: center center;
 background-size: 100% 100%;
 background-repeat: no-repeat;
}

@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
  }
}

.home-header {
  width: 80%;
  min-height: 10.8em;
  margin: auto;
  text-align: center;

  .home-title-container {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: .5em;
    display: block;

    h1 {
      width: 100%;
      height: 100%;
      margin: auto;
      padding: .3em 0em;
      letter-spacing: -0.05em;
      font-family: "Menlo", "Fira Mono", monospace;
      color: #ffab68;
      // font-size: 2.0em;
      max-width: 650px;
      background-color: rgba(163, 96, 0, 0.5);
      position: relative;
      font-weight: bold;
      font-style: italic;

      text-shadow: -2px -1px $grey;


      em {
        font-size: 0.55em;
        color: white;
        text-align: center;
        font-weight: 300;
        text-shadow: none;
        position: relative;
        top: -0.5em;
      }

      &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -.5rem;
        left: -0.5rem;
        background: $purp;
        content: "";
        z-index: -1;
      }
    }
  }


  .buttons {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .button {
      padding: .5em 1em;
      color: white;
      font-family: $monospace;
      text-transform: lowercase;
      font-size: 1.3em;
    }
  }


  h2 {
    margin-top: 0em;
    padding-top: 0em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24;
    color: white;
  }
  .fix-sticky & {
    position: fixed;
    height: 50px;
    min-height: 0px;
    padding-bottom: 0px;
    h1 {
      position: absolute;
      padding-top: 0.3em;
      font-size: 0.2em;
      content: ' ';
    }
  }
}

.sticky {
  position: absolute;
  .fix-sticky & {
    position: fixed;
    top: 10px;
  }
}

.top { // used to protect the space under the header from collapsing
  .fix-sticky & {
    height: 200px;
    position: relative;
  }
}


.post-header {
  /*background-image: url('images/header.png');*/
  background-image:
        linear-gradient(rgba(255,125,20,0.34), rgba(255,125,20,0.34)),
        url('images/header.jpg');
  min-height: 12em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: left;
  padding-bottom: 6em;

  h1 {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 1em;
    font-size: 2.5em;
    line-height: 1.2em;
    // letter-spacing: -0.05em;
    font-family: "Noto Sans", sans-serif;
  }

  h2 {
    margin-top: 0em;
    padding-top: 0em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24;
    color: white;
  }
}

.post-header-content {
  max-width: 40em;
  padding: 2em 3em;
  margin: 0em auto;
  padding-bottom: 0;
  text-align: center;
}

/* Classes */

.page-content {
  padding: 0 2em;
}

.post-content {
  padding: 0 0;
}

.post {
  margin: -4em auto;
  margin-bottom: 4em;
  max-width: 40em;
  background-color: white;
  padding: 1em 3em;
  position: relative;
  width: 100%;
  z-index: 1;

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -.5rem;
    left: 0.5rem;
    outline: 1px solid white;
    content: "";
    z-index: -1;
  }

  img {
    max-width: 65%;
    max-height: 35em;
    margin: 2em auto;
    display: block;
    position: relative;
    padding: 0.5rem;
    background-color: #ffab68;
  }
  .author {
    max-width: 35%;
    min-width: 224px;
    background-color: #ffab68;
    text-align: left;
    float: left;
    margin-right: 2em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding: 0em;
  }

  iframe {
    max-width: 65%;
    margin: 2em auto;
    display: block;
    position: relative;
    padding: 0.5rem;
    background-color: #ffab68;
  }

}

.tag-title {
  width: auto;
  margin: 2em auto;
  padding: 1em 2em;
  position: relative;
  text-align: center;

  h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 36px;
    color: white;
    margin-bottom: 0em;
    margin-top: 0.5em;
    text-align: center;
  }
}

.feedpost {
  margin: 2em auto;
  max-width: 40em;
  background-color: white;
  padding: 1em 2em;
  position: relative;
  width: 100%;

  img {
    max-width: 65%;
    max-height: 35em;
    margin: 2em auto;
    display: block;
    position: relative;
    padding: 0.5rem;
    background-color: #ffab68;
  }

  iframe {
    max-width: 65%;
    margin: 2em auto;
    display: block;
    position: relative;
    padding: 0.5rem;
    background-color: #ffab68;
  }

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    outline: 1px solid white;
    content: "";
    z-index: -1;
    transition: all 0.2s ease;
  }

  &:hover:before {
    // top: 0;
    left: .5rem;
    // right: -.5rem;
    background-color: #FE987B;
  }

  h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 36px;
    color: #FE987B;
    margin-bottom: 0em;
    margin-top: 0.5em;
  }

  h1 a {
    text-decoration: none;
    color: #FE987B;
  }

  h2 {
    /* A cool project title: */
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #646464;
    margin-top: 0em;
    padding-top: 0em;
  }

}

.cards {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 2em auto;

  a {
    text-decoration: none;
  }

  .always-visible {
    .details {
      opacity: 1 !important;
      background-color: white !important;  
    }
  }

  .card {
    width: 20em;
    height: 20em;
    background: white;
    color: #566b78;
    position: relative;

    margin: 1em 1em;

    .details {
      opacity: 0;
      padding: 0.5em 1em;

      h1 {
        font-family: "Noto Sans", sans-serif;
        margin: 0.2em auto 0em auto;
        line-height: 0.9em;
        letter-spacing: -0.08em;
        text-align: center;
        color: white;
        color: #ffab68;
        font-size: 2.5em;
        font-weight: bold;
        font-style: italic;
        text-shadow: -2px -1px $grey;
      }
  
      h3 {
        text-align: center;
        margin-top: 0;
      }
  
      p {
        em {
          text-align: center;
          color:royalblue;
    
        }
      }
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: opacity 0.3s ease;
    }

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -.5rem;
      left: -0.5rem;
      outline: 1px solid white;
      z-index: -1;
      content: "";
      transition: all 0.2s ease;

    }
    &:hover {
      &:before {
        top: 0;
        left: 0;
        outline: 1px solid $peachy-red;
      }

      img {
        opacity: 0;
      }

      .details {
        opacity: 1.0;
      }
    }

  }
}

.post-meta {
  display: block;
  color: #FE987B;
}

.media {
  display: block;
  margin: auto;
  width: 75vw;
  height: 35vw;
  max-width: 640px;
  max-height: 400px;
  /*height: 360px;*/
  padding: 10px 0px;
}




footer {
  &.post-footer {
    text-align: left;
    margin: -4em auto;
    margin-bottom: 0em;
    max-width: 40em;
    background-color: transparent;
    padding: 2em 0;
    padding-bottom: 0em;

    h1 {
      color: white;
      font-family: "Menlo", "Fira Mono", monospace;
      font-size: 2.5em;
      font-weight: 300;
      padding: 0 0;
      margin: 0 0;
      line-height: 1.12em;
      a {
        color: $british-racing-green;
      }
    }

    p {
      max-width: 35em;
    }

    .author-pic {
      margin-top: 2em;
      float: right;
      width: 122px;
      height: 122px;
      position: relative;
      margin: 0 1em;
      padding: 0;
      display: inline-block;
      &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -.5rem;
        left: 0.5rem;
        outline: 1px solid $grey;
        z-index: -1;
        content: "";
      }
    }
  }

  .button {
    font-size: 0.8em;
    padding: 1em 2em;
  }

}

.post-footer-buttons {
  margin: 1em auto;
}

.subscribe-form {
  display: block;
  position: relative;
  max-width: 20em;
  margin: 2em auto;
  background-color: white;
  padding: 0.5em;
  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -.5rem;
    left: 0.5rem;
    outline: 1px solid white;
    z-index: -1;
    content: "";
  }

  #mc_embed_signup {
    padding: 10px 0 10px 0

    input {
      margin: 0.3em auto;
      display: block;
    }
  }

  h1 {
    margin-bottom: -0.5em;
    margin-top: 0;
  }
}

.author-pic > img {
  height: 122px;
  width: 122px;
}

.about {
  display: block;
}


a.read-more {
  padding: 5px;
  background-color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
  &:before {
    content: "🍑";
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    padding-right: 5px;
  }
  &:hover {
    background-color: $peachy-orange;
  }
}

.animate {
  animation-duration: 1s;
  animation-name: blink;
}

@keyframes blink {
  from {
    background-color: lightyellow;
  }

  to {
    background-color: transparent;
  }
}

html a.button {
  border: 1px solid white;
  /*border-radius: 290486px;*/
  color: #646464;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  position: relative;
  background: #ffab68;
}

.button {
  em {
    display: block;
    font-size: 0.6em;
    font-style: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  strong {
    color: #e81c4f;
    transition: color 200ms ease-out;
  }

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -.5rem;
    left: .5rem;
    outline: 1px solid white;
    content: "";
    z-index: -1;
    transition: all 0.2s ease;
  }
  &:hover {
    background: #e81c4f;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.5);

    strong {
      color: white !important;
    }
    &:before {
        top: 0;
        left: 0;
    }
  }

  // button classes
  &.github {
    strong {
      color: #333;
    }
    &:hover {
      background: #333;
    }
  }
  /* Actually used button styles: */
  &.subscribe {
    strong {
      color: $purp;
    }
    &:hover {
      background: $purp;
    }
  }

  &.nav {
    strong {
      color: white;
    }

    &:hover {
      background: white;
      &:before {
        top: 0rem;
        left: 0rem;
      }
    }

    &:before {
      top: -.5rem;
      left: -.5rem;
    }

    &:nth-child(1) {
      background: $peachy-1;

      &:hover {
        color: $peachy-1;
        background: white;
      }
    }
    &:nth-child(2) {
      background: $peachy-2;

      &:hover {
        color: $peachy-2;
        background: white;
      }
    }
    &:nth-child(3) {
      background: $peachy-3;

      &:hover {
        color: $peachy-3;
        background: white;
      }
    }
    &:nth-child(4) {
      background: $peachy-4;
      color: $peachy-4-color;

      &:hover {
        color: $peachy-4;
        background: $peachy-4-color;
      }
    }
    &:nth-child(5) {
      background: $peachy-5;
      color: $peachy-5-color;

      &:hover {
        color: $peachy-5;
        background: $peachy-5-color;
      }
    }

  }

  &.grokwork {
    strong {
      color: #3F9A5A;
    }
    &:hover {
      background: #3F9A5A;
    }
  }

  &.twitter {
    strong {
      color: #55acee;
    }

    &:hover {
      background: #55acee;
    }
  }

  &.previous-page {
    strong {
      color: #333;
    }

    &:before {
      top: -.5rem;
      left: -.5rem;
    }

    &:hover {
      background: #333;
      &:before {
          top: 0;
          left: 0;
      }
    }
  }

  &.page-counter {
    background: #3F9A5A;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.5);

    strong {
      color: white;
    }

    &:before {
      top: -0.5em;
      left: -0.5em;
      // right: 10%;
      width: 110%;
    }

    &:hover {
      background: #3F9A5A;
    }
  }

  &.next-page {
    strong {
      color: #333;
    }

    &:before {
      top: -.5rem;
      left: .5rem;
    }

    &:hover {
      background: #333;
      &:before {
          top: 0;
          left: 0;
      }
    }
  }
}

nav .buttons {
  background-color: blue;
  width: 80%;
  margin: auto;
}

.buttons {
  .button {
   display: block;
   margin-bottom: 1em;
 }
}


/* Resources */

.resources {
  margin: 1em 0;
  padding: 0;
}

.resource {
  align-items: center;
  border: 1px solid #d8dee9;
  border-radius: 5px;
  color: #566b78;
  cursor: pointer;
  display: flex;
  margin-top: 1em;
  padding: 1em 2em;
  text-decoration: none;

  &:hover {
    border-color: #e81c4f;
  }

  strong {
    color: #e81c4f;
  }

  .resource-name {
    color: #333;
    display: block;
    font-size: 1.2em;
  }
}

.resource-icon {
  box-sizing: border-box;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 120px;
  margin: 0;
  margin-right: 1em;
  padding: 0;
  text-align: center;
  width: 120px;
}

.resource-marksheet .resource-icon {
  padding: 5px;
}

.resource-bulma .resource-icon {
  padding: 10px;
}

.resource-css-reference .resource-icon {
  padding: 20px;
}

.rss-subscribe {
  text-align: center;
}

/* Responsiveness */


@media (max-width: 1120px) {
  .post-content iframe {
    max-height: 500px;
  }

  .post-header .logo {
    margin-right: 10px;
    left: 0px;
    top: 0px;
    background-image: url('images/skinny_post_header.png');
    width: 45px;
  }

  .home-header {
    .logo {
      display: none;
    }
    .buttons {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .button {
        flex-grow: 0;
        margin: 10px;
      }
    }
  }
}


@media (max-width: 900px) {
  /*This is where we shrink the post and the nav header */

  .cards {
    flex-direction: column;
    margin: 2em auto;
    .card {
      margin: 1em auto;
    }
  }
  .home-header {

    .buttons {
      display: flex;
    }
  }

  .post-header-content {
    padding-top: 0;
    padding-left: 70px;
  }

  .page-content {
    padding: 0 0;
  }
  .post {
    box-sizing: border-box;

    &:before {
      top: -10px;
      left: 0px;
    }
  }

  .feedpost {
    box-sizing: border-box;

    &:before {
      top: -10px;
      left: 0px;
    }
  }

  .post-content iframe {
    max-height: 500px;
  }

  .media {
    margin: 0 0;
  }

  footer {
    &.post-footer {
      padding-left: 1em;
    }
  }
  .author-pic {
    display: block;
    margin: auto;

  }
}

@media (max-width: 800px) {
  .feedpost {
    &:before {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .post {
    .author {
      float: none;
      margin-right: auto;
    }
  }
}

@media (max-width: 414px) {
  // it's where the cards need to start shrinking
  .cards {
    .card {
      width: 80%;
      height: 80%;
      min-width: 200px;
      min-height: 200px;

      .details {
        h1 {
          font-size: 14px;
        }
        h3 {
          font-size: 12px;
        }
        p {
          font-size: 10px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  /* make the header fall in line */

  .buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    margin-bottom: 5em 5em;
    clear: right;

    .button {
      flex-grow: 1;
      flex-shrink: 0;
      margin-bottom: 0;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }


  .resources {
    display: flex;
  }

  .resource {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;

    + .resource {
      margin-left: 1em;
    }
  }

  .resource-icon {
    margin: 0 auto 1em;
  }
}
