---
layout: default
---
  {{ content }}
  {% for post in site.posts %}
    <div class="post">
      <h1 class="page-heading"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
    </div>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
