<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include post_header.html %}

    <main class="page-content" aria-label="Content">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
          {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
          {% endif %}</p>
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
        {% if site.disqus.shortname %}
          {% include disqus_comments.html %}
        {% endif %}
      </article>
    </main>

    {% include footer.html %}

  </body>

<script type="text/javascript">
$('.post-header').css("background-image", "url('/assets/images/{{ background-image }}')");  

</script>

</html>

