<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include post_header.html %}

    <main class="post-content" aria-label="Content">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-content" itemprop="articleBody">
          {% if page.video_embed %}<iframe class="media" src="{{ page.video_embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>{% endif %}
          {{ content }}
        </div>
        {% if site.disqus.shortname %}
          {% include disqus_comments.html %}
        {% endif %}

      <p class="post-meta">
      <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      <br>
      {% capture difference %} {{ page.tags | size | minus:1 }} {% endcapture %}
      {% unless difference contains '-' %}
        <span>[
          {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
          {% endfor %}
        ]</span>
      {% endunless %}
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
      </article>
    </main>
    {% include post_footer.html %}
  </body>

{% if page.background_image %}
<script type="text/javascript">
$('.post-header').css("background-image", "linear-gradient(rgba(255,125,20,0.34), rgba(255,125,20,0.34)), url('/assets/images/{{ page.background_image }}')");

</script>
{% endif %}
</html>
